@page "/"



<h1>Hello, world!</h1>

<AuthorizeView>
    <Authorized>
        Estas logueado
    </Authorized>
    <NotAuthorized>
        NO Estas logueado
    </NotAuthorized>
</AuthorizeView>
<AuthorizeView Roles="Admin">
    <div style="background-color:red">This is only visible by admin</div>
    
</AuthorizeView> 