@page "/ExampleRouting/{pizzaNumber:int?}"
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager NavManager


<h1>Buy a Pizza</h1>

<p>I want to order a: @pizzaNumber</p>

<p>I want to add this topping: @ToppingName</p>

<NavLink class="nav-link" href="ExampleCounter">
    Buy pizza
</NavLink>


@code {
	[Parameter]
	public int? pizzaNumber { get; set; }
	
	private string ToppingName { get; set; }
	
	protected override void OnInitialized()
	{
		var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
		if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("extratopping", out var extraTopping))
		{
			ToppingName = System.Convert.ToString(extraTopping);
		}
	}  
    protected override async Task OnParametersSetAsync()
    {
        
      pizzaNumber++;
    }
}