@using BlazorApp.Models;
@using BlazorApp.Services;
@inject PizzaService PizzaSvc
@page "/ExampleComponentPrimary"
@rendermode InteractiveServer

<div class="main">
  <h1>Blazing Pizzas</h1>
  <ul class="pizza-cards">
    @if(pizzas.Count()==0){
      <Loading/>
    }else{
      @foreach (var item in pizzas)
      {
        <ExampleComponentSecondary PizzaName="@item.Name" PizzaDescription="@item.Description" />
      }
    }      
  </ul>
</div>

@code {
    IEnumerable<Pizza> pizzas = new List<Pizza>();
    protected override async Task OnInitializedAsync()
    {        
        loadInfo();
    }
    public async Task loadInfo(){
      pizzas = await PizzaSvc.GetPizzas();
      StateHasChanged();
    }
}