@using BlazorApp.Models;
@page "/"
@inject ConfigExample cfg
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<ExampleCounter IncrementAmount="10"/>
<ExampleBind/>
<h1>Counter global: @cfg.Counter</h1>

