@page "/001-ExampleTable"

<h2>Employee Overview</h2>

@if (Employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>Employee Card</h1>
    @foreach(var e in Employees){
        <EmployeeCard Employee="e"></EmployeeCard>
    }
    
}